{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <a href="/newEmpresa/" class="save btn btn-info" role="button" aria-disabled="true">Nuevo</a>
</div><br>

 <div class="container">

{% if empresas %}
	<u> LISTADO DE EMPRESAS</u>
	<table class="table table-striped">
	<thead class="thead-default">
    	<tr>
    	  <th>ETT</th>
    	  <th>Descripcion</th>
    	  <th></th>
    	</tr>
	</thead>
  <tbody>
	{% for empresa in empresas %}
		<tr>
		  <td>{{empresa.nombre}}</td>
		  <td>{{empresa.descripcion}}</td>
		  <td><a href="/detailEmpresa/{{empresa.id}}" class="save btn btn-primary" role="button" aria-disabled="true">Detalle</a></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
    <nav aria-label="...">
        <ul class="pagination">

            {% if personas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="/empresas/?page={{ empresas.previous_page_number }}" tabindex="-1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}
            <li class="page-item active">
                <span class="current">
                    Pagina {{ empresas.number }} de {{ empresas.paginator.num_pages }}.
                </span>
                 <span class="espaciospam">
                    Total Empresas: <span class="badge">{{ empresas.paginator.count }}</span>
                </span>
            </li>

            {% if empresas.has_next %}
            <li class="page-item">
              <a class="page-link" href="/empresas/?page={{ empresas.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}

            <!--<li class="page-item"><strong>Total Empresas:</strong> {{ empresas.paginator.count }}</li>-->

        </ul>
    </nav>

{% else %}
	<h1 class="jumbotron-heading"> No existen empresas en la base de datos</h1>
{% endif %}
</div>

  {% endblock %}