{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <a href="/newPersona/" class="save btn btn-info" role="button" aria-disabled="true">Nuevo</a>
    <a href="/personas/" class="save btn btn-warning" role="button" aria-disabled="true">Limpiar Filtros</a>
</div><br>

<div class="container">

	<div class="body">
        {% if formFilter%}
        <!-- content goes here -->
		<form method="POST" action="{% url 'personas' %}" id="filter" class="form">{% csrf_token %}
		{{ formFilter.as_p }}


          <button type="submit" class="btn btn-primary">Filtrar</button>
        <!-- Initialize the plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
               $('#id_empresa').multiselect();

            });
        </script>
        </form>
        {% endif %}
	</div>

</div>
<br><br>
<!-- line modal -->



 <div class="container">

{% if personas %}
	<u> LISTADO DE PERSONAS</u>
	<table class="table table-striped">
	<thead class="thead-default">
    	<tr>
    	 <th>Nombre</th>
    	  <th>Apellidos</th>
    	  <th>Telefono</th>
    	  <th>Nivel Ingles</th>
    	  <th>Edad</th>
    	  <th>Sexo</th>
    	  <th>ETT</th>
    	  <th></th>
    	  <th></th>
    	</tr>
	</thead>
  <tbody>
	{% for persona in personas %}
		<tr>
		  <td>{{persona.nombre}}</td>
		  <td>{{persona.apellidos}}</td>
		  <td>{{persona.telefono}}</td>
		  <td>{{persona.ingles}}</td>
		  <td>{{persona.age}}</td>
		  <td>{{persona.des_sex}}</td>
		  <td>{{persona.empresa}}</td>
		  <td><a href="/detailPersona/{{persona.id}}" class="save btn btn-primary" role="button" aria-disabled="true">Detalle</a></td>
		  <td><a href="/deletePersona/{{persona.id}}" class="save btn btn-danger" role="button" aria-disabled="true">Eliminar</a></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
    <nav aria-label="...">
        <ul class="pagination">

            {% if personas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="/personas/?page={{ personas.previous_page_number }}" tabindex="-1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}
            <li class="page-item active">
                <span class="current espaciospamd">
                    Pagina {{ personas.number }} de {{ personas.paginator.num_pages }}.
                </span>
                 <span class="espaciospam">
                    Total Personas: <span class="badge">{{ personas.paginator.count }}</span>
                </span>
            </li>

            {% if personas.has_next %}
            <li class="page-item">
              <a class="page-link" href="/personas/?page={{ personas.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}
            <!--<li class="page-item"><strong>Total Personas:</strong> {{ personas.paginator.count }}</li>-->

        </ul>
    </nav>





{% else %}
	<h1 class="jumbotron-heading"> El filtro seleccionado no devuelve resultados o No existen personas en la base de datos</h1>
{% endif %}
</div>

  {% endblock %}