{% extends 'base.html' %}

{% block content %}
{% load static %}
<script>
function goBack() {
    window.location.href = "/empresas";
}
</script>
<div class="container">

        <form method="POST" action="/newEmpresa/"class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
            <a href="/empresas/" class="save btn btn-primary" role="button" aria-disabled="true">Cancelar</a>
            <br>
            <br>
         </form>
</div>
{% endblock %}