{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
        <u> OFERTA </u>
        <form method="POST" action="/newOferta/{{idEmpresa}}/"class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
            <a href="/detailEmpresa/{{idEmpresa}}" class="save btn btn-primary" role="button" aria-disabled="true">Cancelar</a>
            <br>
            <br>
           	 <!-- Initialize the plugin: -->
	        <script type="text/javascript">
	            $(document).ready(function() {
	               tinymce.init({ selector:'#id_salarios' });
	            });
	        </script>
         </form>
</div>
{% endblock %}