{% extends 'base.html' %}

{% block content %}
{% load static %}
<script>
function goBack() {
    window.location.href = "/personas";
}
</script>
<div class="container">

        <form method="POST" action="/newPersona/"class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
            <a href="/personas/" class="save btn btn-primary" role="button" aria-disabled="true">Cancelar</a>
            <br>
            <br>
            <!-- Initialize the plugin: -->
	        <script type="text/javascript">
	            $('#id_date_born').datepicker({
				    format: "yyyy-mm-dd",
				    weekStart: 1,
				    startDate: "1981-01-01",
				    startView: 1,
				    language: "es"
				});
				tinymce.init({ selector:'#id_observaciones' });
	        </script>
         </form>
</div>
{% endblock %}